.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.profile-image {
  width: 150px;   /* or any desired size */
  height: 150px;
  object-fit: cover;  /* keeps aspect ratio and crops if needed */
  border-radius: 50%; /* optional: makes it circular */
  margin-top: 50px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;   
}
.hero h1 span{
    background: linear-gradient(270deg, #DF8909 10% , #B415FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.hero p{
    width: 50%;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
 }
 .hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin: 50px;
 }
.hero-connect{
    padding: 25px 45px ;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8909 -5.09% , #B415FF 100%);
    cursor: pointer;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.hero-connect:hover {
    border: 2px solid white;
}
.hero-resume:hover{
    border-color:#B415FF;
}