.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;
}
.contacts-title{
    position: relative;
}
.contacts-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.contacts-title img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.contacts-section{
    display: flex;
    gap: 150px;
}
.contacts-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contacts-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8909 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contacts-left p{
    max-width: 550px;
    color: #d8d8d8;
    font-size: 28px;
    line-height: 35px;

 }
 .contacts-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #d8d8d8;
    font-size: 22px;
 }
 .contacts-detail{
    display: flex;
    align-items: center;
    gap: 20px;
 }
 .contacts-detail img{
 width: 100px;   /* or any desired size */
 height: 100px;
  }
  .contacts-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .contacts-right label{
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
  }
  .contacts-right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4;
    background-color: #32323C;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 20PX;
  }
   .contacts-right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323C;
     color: #a0a0a0;
    font-family: outfit;
    font-size: 20px;
   }
    .contacts-submit{
        border: none;
        color: white;
        border-radius: 50px;
        background: linear-gradient(264deg, #DF8909 -5.09%,  #B415FF 106.28% );
        font-size: 22px;
        padding: 20px 60px;
        margin-bottom: 50px;
        cursor: pointer;
        transition: 0.3s;
    }
    .contacts-submit:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
@media (max-width: 768px) {
    .contacts {
        gap: 50px;
        margin: 50px 70px;
        align-items:  start;
    }
    .contacts-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .contacts-title img {
        width: 130px;
        margin-right: -20px;
    }
    .contacts-section {
        flex-direction: column;
    }
    .contacts-left h1 {
        font-size: 54px;
    }
    .contacts-left p{
        font-size: 18px;
    }
    .contacts-detail {
        gap: 20px;
    }
    .contacts-detail img {
        width: 30px;
     }
     .contacts-right labal{
        font-size: 20px; 
     }.contacts-right input {
        width: 100%;
        font-size: 20px;
     }
     .contacts-right textarea{
        width: 95%;
        font-size: 20px;
     }
     .contacts-submit {
        font-size: 20px;
        padding: 15px 40px;
     }

}